h1 {
	color: #cc66ff;
	font-size: 40px;
}

body{
	background-color: #f5f5dc;
	text-align:center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 100%;*/
}

table, th, td {
	border: 1px solid black;
}
